@model OdeToHomes.Models.ViewState


@{
    ViewBag.Title = "Create";
}
@section featured{
    @Html.Partial("_Menu")
}


<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    
    
    <fieldset>
        <legend>State</legend>

        

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        
    </fieldset>
    
    <fieldset>

        <legend>Multi-Select Demo</legend>

        <div class="editor-field">

            @Html.CheckBoxListFor(model => model.PostedSeries, 
                      model => model.AvailableSeries, 
                      entity => entity.Id, 
                      entity => entity.Name,
                      model => model.SelectedSeries 
                      ) 
            @*@Html.ListBox("listSeries", ViewData["listSeries"] as MultiSelectList)*@

        </div>

        <p>

            <input type="submit" value="Save" />

        </p>

    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    
}
